
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e6610aa0e51014aa2a57fee0356f0722&auto=format&fit=crop&w=1051&q=80");
  // background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.moodsContainer {
  margin-top: 0px;
}

.mood-buttonContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.mood-button button {
  background-color: transparent;
  color: #743C6A;
  border-color: #743C6A;
  border-radius: 50%;
  border-style: solid;
  font-weight: bold;
  height: 100px;
  width: 100px;
  margin: 10px;
  cursor: pointer;
}

.mood-button button:hover {
color: #743C6A;
background: #e4eefc;
}

.AddReturnButtons button {
  background: #743C6A;
  color: #ffffff;
  border: 1px solid white;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-bottom: auto;
  display: inline-block;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  min-width: 120px;
}

.AddReturnButtons button:hover {
color: #743C6A;
background: #e4eefc;
}

.AddReturnButtons  {
  margin-top: 20px;
  margin-bottom: 20px;
  // display: flex;
  // justify-content: space-around;

}

// .add-button {
//   margin-top: 20px;
// }


// .reload-button button {
//   background: #743C6A;
//   color: #ffffff;
//   border: 1px solid white;
//   font-size: 16px;
//   font-weight: normal;
//   padding: 10px;
//   margin-top: 10px;
//   margin-left: auto;
//   margin-bottom: 20px;
//   display: inline-block;
//   border-radius: 25px;
//   border: none;
//   cursor: pointer;
//   min-width: 120px;
// }
//
// .reload-button button:hover {
// color: #743C6A;
// background: #e4eefc;
// }


h3 {
  font-size: 50px;
  font-family: 'Lora', serif;
  color: #fff;
}
