body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  // background-color: #DA668F;
  // background-color: #F4E194;
  background-image: url("https://images.unsplash.com/photo-1525268771113-32d9e9021a97?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=874400d4481965d6b5beba0475784553&auto=format&fit=crop&w=800&q=80");
  // background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background: #FFFFFF;  /* fallback for old browsers */
}

// //
// // background-image: url("https://images.unsplash.com/photo-1525268771113-32d9e9021a97?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=874400d4481965d6b5beba0475784553&auto=format&fit=crop&w=800&q=80") ;
// // -webkit-background-size: cover;
// // -moz-background-size: cover;
// // -o-background-size: cover;
// // background-size: cover;
//

// body#background {
// background-image: url("https://images.unsplash.com/photo-1525268771113-32d9e9021a97?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=874400d4481965d6b5beba0475784553&auto=format&fit=crop&w=800&q=80") no-repeat 50% 50% fixed;
// background-size: cover;
// -moz-background-size: cover;
// -o-background-size: cover;
// -webkit-background-size: cover;
// }

.moodsContainer {
  margin-top: 0px;
}

.mood-buttonContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.mood-button button {
  background-color: #FFFFFF;
  color: #7A28CB;
  border-color: #7A28CB;
  border-radius: 50%;
  border-style: solid;
  height: 100px;
  width: 100px;
  margin: 10px;
  cursor: pointer;
}

.mood-button button:hover {
color: #ffffff;
background: #7A28CB;
}

.add-button {
  margin-top: 30px;
}

.add-button button {
  color: white;
  background: #DA668F;
  border: 1px solid white;
  font-size: 20px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0px;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
}

.add-button button:hover {
color: #DA668F;
background: white;
}

h3 {
  font-size: 50px;
  color: #7A28CB;
}
