


p {
  font-weight: normal;
  font-size: 16px;
}

p em {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}

.footerSection {
  position: static;
  left: 0;
  padding: 10px 20px 40px 10px;
  bottom: 5px;
  width: 100%;
  background-color: #743C6A;
  color: #FFFFFF;
  text-align: left;
}

.developer {
  font-weight: bold;
}
